DATABASE_URL="postgresql://usuario:senha@localhost:5432/nome_do_banco?schema=public"
GITHUB_CLIENT_ID="seu_github_client_id"
GITHUB_CLIENT_SECRET="seu_github_client_secret"
JWT_SECRET="sua_chave_secreta"
FRONTEND_URL="http://localhost:3000"